
body{
    background: url(../Images/background_img.jpg) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0%;
   
    
}
.logform{
    
    background-color:lightgrey;
    display: inline-block;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 30%;
    box-sizing: border-box;
    transform: translate(-50%,-50%);
  
} 
.profilePic{
    width:100px;
    height: 100px;
    position: absolute;
    top:-50px;
    left:calc(50% - 50px);
  
   
    
}
a{
    text-decoration: none;
    line-height: 50px;
    
}
a:hover{
    text-decoration:underline;
    color:green
}


#ErrorBox{
    color: red;
    font-family: sans-serif;
    
    /* box-sizing:inherit; */
}
input[type='text'],input[type='password'],input[type="email"]{
    border: none;
    background: transparent;
    border-bottom:1px solid #fff;
    outline-style: none;
}


input[type='submit']{
    
    background-color: green;
    width: 100%;
    border-radius: 20px;
    border: none;
    padding: 5px;
}


input{
    width: 100%;
    margin-bottom: 10px;
}

/* ============================================== submit button ===================================== */
input[type='submit']:hover{
    cursor: pointer;
    background-color:rgb(15, 75, 4);
    
}
.submitButton:active{
     transform: scale(1.1);
}
